body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    font-family: Arial, sans-serif;
    margin: 0;
    flex-direction: column;
    position: relative;
}

/* Estilos de la tarjeta */
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    width: 300px;
    z-index: 1;
}

.btn {
    background: #ff4d6d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px;
    transition: transform 0.2s;
}

.btn:hover {
    transform: scale(1.1);
}

.message {
    font-size: 22px;
    color: #ff4d6d;
    font-weight: bold;
    margin-top: 20px;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.8s, transform 0.8s;
    max-height: 0;
    overflow: hidden;
    display: block;
}

.message.show {
    opacity: 1;
    transform: scale(1);
    max-height: 500px;
}

.whatsapp-btn {
    background: #25D366;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
    display: none;
    text-decoration: none;
}

/* Estilos para el reproductor de audio (invisible por defecto) */
#audioPlayer {
    display: none;
}

/* Estilos para el botón de reproducir audio */
#playButton {
    background-color: #ff2385;
    color: white;
    font-size: 1.2rem;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    margin: 150px auto;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 20px; /* Lo coloca en la parte inferior */
    left: 50%;
    transform: translateX(-50%); /* Para centrar el botón */
}

#playButton:hover {
    background-color: #FF61A6;
}
